aipp_op{
aipp_mode:static
input_format : RGB888_U8
load_start_pos_h : 0
load_start_pos_w : 0
src_image_size_w : 112
src_image_size_h : 112

csc_switch : False
rbuv_swap_switch : false

mean_chn_0 : 127
mean_chn_1 : 127
mean_chn_2 : 127
var_reci_chn_0: 0.0078125
var_reci_chn_1: 0.0078125
var_reci_chn_2: 0.0078125
crop: true
}
